<app-header></app-header>
<!-- product-view.component.html -->
<!-- product-card.component.html -->
<div class="product-container">
  <mat-card class="product-card" *ngFor="let product of products">
    <img mat-card-image src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Product Image">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="addToCart(product)">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
