<!-- footer.component.html -->
<footer class="mat-footer" fxLayout="row" fxLayoutAlign="center center" fxFlex="no-wrap">
    <div class="social-links">
      <a mat-raised-button color="primary" class="social-link" href="#">
        <mat-icon class="social-icon">facebook</mat-icon>
        <span class="sr-only">Facebook</span>
      </a>
      <a mat-raised-button color="accent" class="social-link" href="#">
        <mat-icon class="social-icon">twitter</mat-icon>
        <span class="sr-only">Twitter</span>
      </a>
      <a mat-raised-button color="warn" class="social-link" href="#">
        <mat-icon class="social-icon">instagram</mat-icon>
        <span class="sr-only">Instagram</span>
      </a>
    </div>
  
    <div class="footer-content">
      <p class="footer-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
        ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
      </p>
  
      <div class="footer-links">
        <a class="footer-link" href="#">Products</a>
        <a class="footer-link" href="#">Pricing</a>
        <a class="footer-link" href="#">Settings</a>
        <a class="footer-link" href="#">Orders</a>
        <a class="footer-link" href="#">Help</a>
      </div>
  
      <div class="footer-contact">
        <span class="footer-contact-text">New York, NY 10012, US</span>
        <br />
        <span class="footer-contact-text">info@example.com</span>
        <br />
        <span class="footer-contact-text">+ 01 234 567 88</span>
      </div>
    </div>
  </footer>
