.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; 
    align-items: center; 
    height: 90vh; 
  }

  mat-card {
    --font-color: #323232;
    --bg-color: #e0e0e0;
    width: 320px;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -9px 9px 18px #5a5a5a,
                9px -9px 18px #ffffff;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
  }
  mat-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
